# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
dist/
.idea/
data_exporter
ui/node_modules
ui/build
/ui/yarn-error.log
